
* {
    padding: 0%;
    margin: 0;
    font-family: 'Delius Swash Caps', cursive;
    font-family: 'EB Garamond', serif;
    font-family: 'Handlee', cursive;
   
}

.container {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #93C572 70%, #C8EBB1 30%);
    position: relative;
}
.wave {
    position: absolute;
    top: 0;
    right: 30%;
}


nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: auto;
    padding-top: 20px;
    width: 90%;
    font-family: 'Delius Swash Caps', cursive;
    font-family: 'Handlee', cursive;
    font-family: 'Shalimar', cursive;
   
}

nav ul{
    display: flex;
    list-style-type: none;
    
}
nav ul li{
    margin: 0 5px;
}
nav ul li a {
    text-decoration: none;
    color: #494234;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 20px;
    position: relative;
    display:inline-block;
   z-index: 1;
}

nav ul li a::after{
  content: "";
  width: 0;
  height: 100%;
  background-color:  #C8EBB1;
   position: absolute;
   border-radius:20px;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   z-index: -1;
   transition: 0.4s;

}

nav ul li a:hover::after{
    width: 100%;
}

.mainsection{
    display: flex;
    align-items: center;
    margin: 0 60px;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
 
}

.mainsection img {
    width: 360px;
    padding: 0 50px;
}

.mainsection .section{
    padding: 0 30px;
}
.mainsection .section h1 {
    font-size: 60px;
    color:  #494234;
    letter-spacing: 2px;
    
}
.mainsection .section p{
    font-size: 22px;
    font-weight: 300;
    padding-bottom: 20px;
    letter-spacing: 1px;
}

.mainsection .section a{
    display: inline-block;
    text-decoration: none;
    font-size: 19px;
    color: white;
    position: relative;
    padding: 10px 20px;
}

.mainsection .section a::after{
   content: "";
   width: 100%;
   height: 100%;
   background-color: #494234;
   position: absolute;
   left: 0;
   top: 0;
   z-index: -1;
   border-radius: 30px;
}

.icon{
    position: absolute;
    right: 130px;
    bottom: 140px; 
}

.icon .box{
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    display: flex;
    
}

.icon .box  img{
    width: 60px;
    background-color:#C8EBB1;
    border-radius:19px;
    padding: 5px;
    box-shadow: -5px 5px 17px rgba(0,0,0,0.3);
}
.icon .box  img:hover{
    background-color: rgba(73,66,52,0.7);
   
   
}

.icon .box .text{
    padding-left: 30px;
}
.icon .box .text h3{
    color: #494234;
    padding-bottom: 3px;

}

.contact{
    position: absolute;
    right: 155px;
    bottom: 50px;
   
}
.contact i{
   background-color: #93C572;
   margin: 20px;
   width: 35px;
   height: 35px;
  border-radius: 50%;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   transition: 0.5s;

}

.contact i:hover{
    transform: translateY(-10px);
    color: white;
}